In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("data.csv", encoding='latin1')
df.head()

/tmp/ipython-input-327790111.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv", encoding='latin1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [6]:
x = df['no2'].dropna()
x.head()

0    17.4
1     7.0
2    28.5
3    14.7
4     7.5
Name: no2, dtype: float64

In [7]:
x = x.values
print(type(x))
print(x[:5])

<class 'numpy.ndarray'>
[17.4  7.  28.5 14.7  7.5]

In [8]:
r = 102303061

ar = 0.05 * (r % 7)
br = 0.3 * ((r % 5) + 1)

print("ar =", ar)
print("br =", br)

ar = 0.0
br = 0.6

In [9]:
z = x + ar * np.sin(br * x)
print(z[:5])

[17.4  7.  28.5 14.7  7.5]

In [14]:
mu = np.mean(z)
print("mu =", mu)
variance = np.var(z)
print("variance =", variance)
lam = 1 / (2 * variance)
print("lambda =", lam)

c = 1 / np.sqrt(2 * np.pi * variance)
print("c =", c)

mu = 25.809622897811263
variance = 342.36339017375917
lambda = 0.001460436525489001
c = 0.021560876239314915